$headerHeight: 80px;
$sectionPadding: 90px;
.firstSection {
  padding-top: calc($headerHeight + $sectionPadding);
  height: 100%;

  h1 {
    font-size: 2.3em;
    line-height: 1.1;
    color: #1663c1;
    font-weight: bold;
    text-align: center;
  }
}

.secondSection {
  padding-top: 60px;
  padding-bottom: 60px;
  // border-top: 1px solid #747474;
  // border-bottom: 1px solid #747474;

  /*
   * minResult: min(1.8vw, 30px)
   * 
   * 1. Se  1.8vw > 30px ==> Uso come FS 30px
   * 2. Se  1.8vw < 30px ==> Uso come FS 1.8vw
   * NB: i return sembrano opposti perchè sono in un contesto di funzione MIN(). Quindi se 1.8vw è maggiore di 30px, prendo 30px in quanto è il valore minore.
   *
   * font-size: ... max(16px, minResult)
   * Più stringo e più probbilmente 1.8vw sarà minore di 30px e quindi il valore risultante di min() sarà 1.8vw
   * Risultasto di max(): fintanto che 1.8vw > 16px uso come FS 1.8vw altrimenti quando 1.8vw < 16px userò 16px.
   * NB: A differenza di min() qui dovrò prendere sempre il valore maggiore, in questo caso ha un valore minimo di 16px
   */
  .pHeading {
    font-size: max(16px, min(1.8vw, 30px));
    // font-size: max(1.1em,min(1.8vw,2.1em))
  }

  .focusGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-column-end: span 9;
    width: 100%;

    > div:nth-child(1) {
      &::before {
        --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-sitevitrine%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M478.6%20337.8h-7V109.1h7c14.5%200%2026.2-11.7%2026.2-26.2%200-14.5-11.7-26.2-26.2-26.2h-33.2H282.2V32.2C282.2%2017.7%20270.5%206%20256%206c-14.5%200-26.2%2011.7-26.2%2026.2v24.5H66.1%2033.4c-14.5%200-26.2%2011.7-26.2%2026.2%200%2014.5%2011.7%2026.2%2026.2%2026.2H40v228.7h-6.5c-14.5%200-26.2%2011.7-26.2%2026.2%200%2014.5%2011.7%2026.2%2026.2%2026.2h32.7%20117.7l-48.3%2075.6c-7.8%2012.2-4.2%2028.4%208%2036.2%204.4%202.8%209.2%204.1%2014.1%204.1%208.6%200%2017.1-4.3%2022.1-12.1l66.3-103.8h20.1l66.3%20103.8c5%207.8%2013.5%2012.1%2022.1%2012.1%204.8%200%209.7-1.3%2014.1-4.1%2012.2-7.8%2015.8-24%208-36.2l-48.3-75.6h117.2%2033.2c14.5%200%2026.2-11.7%2026.2-26.2C504.8%20349.5%20493.1%20337.8%20478.6%20337.8zM92.3%20109.1h326.9v228.7H92.3V109.1z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
        content: ' ';
      }
    }

    > div:nth-child(2) {
      &::before {
        --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-redaction%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M506%2097.4c0-24.4-9.5-47.4-26.8-64.6C462%2015.5%20439%206%20414.6%206c-24.4%200-47.4%209.5-64.7%2026.8L271%20111.6c0%200%200%200%200%200%200%200%200%200%200%200L73.9%20308.8h0l0%200%20-24.4%2024.4c-3.2%203.2-5.5%207.1-6.7%2011.5L7%20472.7c-2.6%209.1%200%2018.9%206.7%2025.6%205%205%2011.7%207.7%2018.6%207.7%202.4%200%204.7-0.3%207.1-1l128.1-35.9c4.3-1.2%208.3-3.5%2011.5-6.7l24.4-24.4%200%200h0l197-197c0%200%200.1-0.1%200.1-0.1%200%200%200.1-0.1%200.1-0.1l49-49c0%200%200%200%200%200%200%200%200%200%200%200l29.8-29.8C496.5%20144.8%20506%20121.9%20506%2097.4zM414.6%2058.5c10.4%200%2020.2%204.1%2027.5%2011.4%207.4%207.4%2011.4%2017.1%2011.4%2027.5s-4.1%2020.2-11.4%2027.5l-11.2%2011.3%20-55.1-55.1L387%2069.9C394.4%2062.5%20404.2%2058.5%20414.6%2058.5zM381.8%20185.3l-55.1-55.1%2012-12%2055.1%2055.1L381.8%20185.3zM184.7%20382.4l-55.1-55.1%20160-160%2055.1%2055.1L184.7%20382.4zM70.1%20441.9l21.4-76.5%200.9-0.9%2055.1%2055.1%20-0.9%200.9L70.1%20441.9z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
        content: ' ';
      }
    }

    > div:nth-child(3) {
      &::before {
        --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-modifications%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M482.2%20428.5H278.9l209.7-209.6c2.5-2.5%204.5-5.4%205.8-8.7%201.3-3.3%202-6.7%202-10.3%200-3.5-0.7-7-2-10.3%20-1.3-3.3-3.3-6.2-5.8-8.7L345.3%2037.7c-5-5-11.8-7.8-18.9-7.8%20-7.1%200-13.9%202.8-18.9%207.8L10.8%20334.4c-5%205-7.8%2011.8-7.8%2018.9%200%207.1%202.8%2013.9%207.8%2018.9l102.1%20102.1c5%205%2011.8%207.8%2018.9%207.8h350.4c7.1%200%2013.9-2.8%2018.9-7.8%205-5%207.8-11.8%207.8-18.9s-2.8-13.9-7.8-18.9C496.1%20431.4%20489.3%20428.5%20482.2%20428.5zM326.3%2094.5L431.8%20200%20331%20300.7%20225.6%20195.4%20326.3%2094.5zM165%20428.5h-22.1l-75.3-75.3%20120-120%20105.4%20105.4%20-89.9%2089.9H165z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
        content: ' ';
      }
    }

    > div:nth-child(4) {
      &::before {
        --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-ideo%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M256%20375.7c-65.9%200-119.6-53.6-119.6-119.6S190.1%20136.5%20256%20136.5s119.6%2053.6%20119.6%20119.6S321.9%20375.7%20256%20375.7zM256%20188.8c-37.1%200-67.3%2030.2-67.3%2067.3s30.2%2067.3%2067.3%2067.3%2067.3-30.2%2067.3-67.3S293.1%20188.8%20256%20188.8z%22%2F%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M295.7%20506h-79.4c-12.8%200-23.8-9.3-25.8-22l-5-31.4c-6.3-2.3-12.5-4.8-18.6-7.7l-25.8%2018.6c-10.4%207.5-24.7%206.4-33.8-2.7l-56.2-56.2c-9.1-9.1-10.2-23.4-2.7-33.8l18.7-25.8c-2.9-6-5.4-12.2-7.7-18.5L28%20321.5c-12.7-2-22-13-22-25.8v-79.4c0-12.8%209.3-23.8%2022-25.8l31.5-5.1c2.3-6.2%204.8-12.4%207.7-18.4l-18.7-25.9c-7.5-10.4-6.4-24.7%202.7-33.8l56.2-56.2c9.1-9.1%2023.4-10.2%2033.8-2.7L167%2067.2c6-2.8%2012.1-5.4%2018.4-7.6l5.1-31.6c2-12.7%2013-22%2025.8-22h79.4c12.8%200%2023.8%209.3%2025.8%2022l5.1%2031.6c6.2%202.2%2012.4%204.8%2018.4%207.6l25.9-18.8c10.4-7.5%2024.7-6.4%2033.8%202.7l56.2%2056.2c9.1%209.1%2010.2%2023.4%202.7%2033.8L444.8%20167c2.8%206%205.4%2012.2%207.7%2018.4l31.5%205.1c12.7%202%2022%2013%2022%2025.8v79.4c0%2012.8-9.3%2023.8-22%2025.8l-31.5%205.1c-2.3%206.3-4.8%2012.5-7.7%2018.5l18.7%2025.8c7.5%2010.4%206.4%2024.7-2.7%2033.8l-56.2%2056.2c-9.1%209.1-23.4%2010.2-33.8%202.7l-25.8-18.6c-6.1%202.9-12.3%205.4-18.6%207.7l-5%2031.4C319.5%20496.7%20308.5%20506%20295.7%20506zM238.5%20453.7h34.9l4.1-25.3c1.6-10.2%209.1-18.4%2019-21.1%2013.1-3.5%2025.8-8.8%2037.7-15.6%208.9-5.2%2020-4.6%2028.4%201.4l20.8%2015.1%2024.7-24.7%20-15.1-20.9c-6-8.3-6.6-19.5-1.5-28.4%206.9-11.9%2012.1-24.5%2015.6-37.6%202.7-10%2010.9-17.4%2021.1-19.1l25.4-4.1v-34.9l-25.5-4.1c-10.2-1.6-18.4-9.1-21.1-19%20-3.5-13.1-8.8-25.7-15.6-37.6%20-5.2-8.9-4.6-20%201.4-28.4l15.2-21%20-24.7-24.7%20-21%2015.2c-8.3%206-19.5%206.6-28.4%201.5%20-11.8-6.8-24.4-12.1-37.5-15.6%20-10-2.7-17.4-10.9-19-21.1l-4.1-25.5h-34.9l-4.1%2025.6c-1.6%2010.2-9.1%2018.4-19%2021.1%20-13.1%203.5-25.7%208.7-37.5%2015.6%20-8.9%205.2-20%204.6-28.4-1.5l-21-15.2%20-24.7%2024.7%2015.2%2021c6%208.4%206.6%2019.5%201.4%2028.4%20-6.8%2011.8-12.1%2024.5-15.6%2037.6%20-2.7%209.9-10.9%2017.4-21.1%2019l-25.5%204.1v34.9l25.4%204.1c10.2%201.6%2018.4%209.1%2021.1%2019.1%203.5%2013.1%208.7%2025.8%2015.6%2037.6%205.2%208.9%204.6%2020-1.5%2028.4l-15.1%2020.9%2024.7%2024.7%2020.8-15.1c8.3-6%2019.5-6.6%2028.4-1.4%2011.9%206.9%2024.5%2012.1%2037.7%2015.6%209.9%202.7%2017.4%2010.9%2019%2021.1L238.5%20453.7z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
        content: ' ';
      }
    }

    > div:nth-child(5) {
      &::before {
        --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-nomdedomaine%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M481.7%2035.3H30.3c-7%200-13.8%202.8-18.8%207.8%20-5%205-7.8%2011.7-7.8%2018.8v388.3c0%207%202.8%2013.8%207.8%2018.8%205%205%2011.7%207.8%2018.8%207.8h451.4c7%200%2013.8-2.8%2018.8-7.8%205-5%207.8-11.7%207.8-18.8V61.9c0-7-2.8-13.8-7.8-18.8C495.5%2038.1%20488.7%2035.3%20481.7%2035.3zM455.1%2088.4V153H56.9V88.4H455.1zM56.9%20423.6V206.2h398.2v217.5L56.9%20423.6zM406.2%20279.3h-18.7c-1.4%200-2.7%201.8-3.3%203.1l-9.4%2029.5%20-9.1-29.7c-0.4-1.4-1.7-2.9-3.2-2.9H345c-1.4%200-2.7%201.8-3.3%203.1l-9.3%2029.5%20-9.4-29.7c-0.5-1.4-1.7-2.9-3.3-2.9h-28.3c-1.4%200-2.7%201.8-3.2%203.1l-9.4%2029.5%20-9.4-29.7c-0.4-1.4-1.7-2.9-3.2-2.9h-17.1c-1.4%200-2.7%201.8-3.3%203.1l-9.4%2029.5%20-9.4-29.7c-0.4-1.4-1.7-2.9-3.2-2.9h-28.2c-1.4%200-2.7%201.8-3.3%203.1l-9.4%2029.5%20-9.4-29.7c-0.4-1.4-1.7-2.9-3.3-2.9h-17c-1.4%200-2.7%201.8-3.3%203.1l-9.4%2029.5%20-9.4-29.7c-0.4-1.4-1.7-2.9-3.3-2.9h-18.2c-1.1%200-2.1%201.3-2.7%202.2%20-0.3%200.5-0.5%201-0.6%201.6%20-0.1%200.6%200%201.1%200.1%201.7l21.9%2064.8c0.2%200.7%200.6%201.3%201.2%201.8%200.6%200.5%201.3%200.8%202%200.9H150c0.7%200%201.4-0.3%202-0.7%200.6-0.4%201-1.1%201.1-1.8l8.8-25.9%208.7%2025.9c0.2%200.7%200.7%201.3%201.3%201.7%200.6%200.4%201.3%200.7%202.1%200.7h18.7c0.7%200%201.4-0.3%202-0.8%200.6-0.4%201-1%201.2-1.7l14.3-42.2%2014.3%2042.3c0.2%200.7%200.6%201.3%201.2%201.7%200.6%200.4%201.2%200.7%202%200.7H246c0.7%200%201.5-0.3%202.1-0.7%200.6-0.4%201-1.1%201.3-1.8l8.8-25.9%208.7%2025.9c0.2%200.7%200.6%201.3%201.2%201.7%200.6%200.4%201.2%200.7%202%200.7h18.6c0.7%200%201.5-0.3%202.1-0.7%200.6-0.4%201-1.1%201.3-1.8l14.3-42.2%2014.3%2042.3c0.2%200.7%200.6%201.3%201.2%201.7%200.6%200.4%201.2%200.7%202%200.7h18.5c0.7%200%201.5-0.3%202.1-0.7%200.6-0.4%201-1.1%201.3-1.8l8.8-25.9%208.7%2025.9c0.2%200.7%200.6%201.3%201.2%201.7%200.6%200.4%201.2%200.7%202%200.7h18.6c0.7%200%201.4-0.3%202-0.8%200.6-0.4%201-1%201.2-1.7l21.9-64.8c0.2-0.6%200.2-1.2%200.1-1.8%20-0.1-0.6-0.3-1.2-0.6-1.7C408.2%20280.6%20407.2%20279.3%20406.2%20279.3z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
        content: ' ';
      }
    }
    > div:nth-child(6) {
      &::before {
        --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-stockage2go%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M43.1%20164.5h102.5c0.9%200%201.7-0.3%202.3-1%200.6-0.6%201-1.5%201-2.3v-34.1c0-0.9-0.3-1.7-1-2.3%20-0.6-0.6-1.5-1-2.3-1h-38.3c25-25.7%2036.5-51.8%2036.5-74.1%200-27.5-18.7-43.9-50.2-43.9%20-15.8%200-34%206.6-49.3%2017.6%20-1.8%201.3-2.5%202.2-1.8%203.8l12%2027.3c0.1%200.4%200.3%200.8%200.5%201.1%200.3%200.3%200.6%200.6%201%200.7%200.4%200.2%200.8%200.3%201.2%200.3%200.4%200%200.8-0.1%201.2-0.3%209-6.3%2018.7-9.9%2025.7-9.9s11%203%2011%208.6c0%2014.2-18.3%2040.1-52.9%2076%20-1.3%201.5-2.1%203.4-2.3%205.4v25c0.1%200.8%200.4%201.6%201%202.2C41.5%20164.2%2042.3%20164.5%2043.1%20164.5zM267.6%20167.7c21.6%200%2042.4-6.8%2055.8-18.3%200.8-0.7%201.5-1.5%201.9-2.4%200.5-0.9%200.7-2%200.8-3V72.4c0-0.9-0.3-1.7-1-2.3%20-0.6-0.6-1.5-1-2.3-1h-61.1c-0.5-0.1-1%200-1.5%200.2%20-0.5%200.2-0.9%200.5-1.3%200.8s-0.6%200.8-0.8%201.3%20-0.2%201-0.1%201.5l2.9%2031.1c0.2%201.6%201.6%202.5%203.6%202.5h20.9v13.1c-2.5%202.7-8.1%204.3-16.4%204.3%20-20.7%200-34.7-14.9-34.7-37.4s13.9-36.9%2034.7-36.9c11.3%200%2022.4%202.7%2032.4%207.9%200.8%200.3%201.7%200.3%202.5%200%200.8-0.3%201.4-1%201.8-1.8l11.3-33.1c0.2-0.8%200.1-1.7-0.3-2.4%20-0.4-0.7-1-1.3-1.7-1.7C300.8%2010%20284.4%205.4%20267.7%205.4c-48.7%200-81.1%2032.4-81.1%2081.1S218.9%20167.7%20267.6%20167.7zM402.9%20167.9c39.2%200%2065.4-26.3%2065.4-65.4S442%2037.2%20402.9%2037.2c-39.1%200-65.4%2026.3-65.4%2065.4S363.7%20167.9%20402.9%20167.9zM402.9%2077.8c11%200%2018.5%209.9%2018.5%2024.8%200%2014.9-7.4%2024.8-18.5%2024.8%20-11%200-18.5-9.9-18.5-24.8S391.8%2077.8%20402.9%2077.8zM505.5%20310.8c0-0.4%200-0.8%200-1.2%200-0.5%200-1%200-1.4%200-0.3%200-0.6%200-0.9%200-0.6%200-1.1-0.3-1.7%20-0.3-0.6%200-0.4-0.2-0.5%200-0.7-0.3-1.3-0.5-2v-0.2c-0.3-0.8-0.5-1.5-0.9-2.2%20-0.4-0.9-0.9-1.7-1.5-2.5l-48.7-85.4c-3.4-6.1-9.2-10.5-15.9-12.3%20-6.7-1.8-13.9-0.9-20%202.5%20-6.1%203.4-10.5%209.2-12.3%2015.9%20-1.8%206.7-0.9%2013.9%202.5%2020l26.3%2046H77.8l26.3-46c3.4-6.1%204.3-13.2%202.5-20%20-1.8-6.7-6.3-12.4-12.4-15.9%20-6.1-3.4-13.2-4.3-20-2.5%20-6.7%201.8-12.4%206.3-15.9%2012.4L9.6%20298.1v0.2c-0.3%200.5-0.6%201.1-0.8%201.6%20-0.1%200.2-0.2%200.5-0.4%200.7l-0.6%201.6c0%200.3-0.2%200.6-0.3%200.9%20-0.1%200.3-0.2%200.8-0.3%201.2%20-0.1%200.4-0.2%200.8-0.3%201.3%200%200.3%200%200.6-0.2%200.9%20-0.2%200.3-0.2%201.1-0.3%201.7%20-0.1%200.6%200%200.5%200%200.8%200%200.3%200%201.2%200%201.9%200%200%200%200%200%200.2v169.3c0%207%202.8%2013.7%207.7%2018.6%204.9%204.9%2011.6%207.7%2018.6%207.7h446.5c7%200%2013.7-2.8%2018.6-7.7%204.9-4.9%207.7-11.6%207.7-18.6V311.2C505.5%20311.2%20505.5%20310.9%20505.5%20310.8zM453%20454.1H58.9V337.5H453V454.1zM313.3%20422h81.8c7%200%2013.6-2.8%2018.6-7.7%204.9-4.9%207.7-11.6%207.7-18.6%200-7-2.8-13.7-7.7-18.6%20-4.9-4.9-11.6-7.7-18.6-7.7h-81.8c-7%200-13.7%202.8-18.6%207.7s-7.7%2011.6-7.7%2018.6c0%207%202.8%2013.7%207.7%2018.6S306.4%20422%20313.3%20422zM205.2%20405.8c0.7%201.6%201.5%203.1%202.4%204.5%200.9%201.4%202%202.8%203.3%204%201.2%201.2%202.6%202.3%204%203.3%201.4%200.9%203%201.7%204.5%202.4%201.6%200.6%203.2%201.1%204.9%201.5%203.4%200.6%206.9%200.6%2010.2%200%201.7-0.4%203.3-0.9%204.9-1.5%201.6-0.7%203.1-1.5%204.5-2.4%202.9-1.9%205.3-4.4%207.3-7.3%201-1.4%201.8-2.9%202.4-4.5%200.7-1.6%201.1-3.2%201.5-4.9%200.7-3.4%200.7-6.9%200-10.3%20-0.3-1.7-0.8-3.3-1.5-4.9%20-0.7-1.6-1.5-3.1-2.4-4.6%20-1-1.4-2.1-2.7-3.3-3.9%20-3-3.1-6.8-5.3-10.9-6.6%20-4.1-1.3-8.5-1.5-12.7-0.7%20-1.7%200.3-3.3%200.8-4.9%201.5%20-1.6%200.7-3.1%201.5-4.5%202.4%20-1.5%200.9-2.8%202-4%203.3%20-2.4%202.4-4.4%205.3-5.7%208.5%20-0.6%201.6-1.1%203.2-1.5%204.9%20-0.7%203.4-0.7%206.9%200%2010.3C204.1%20402.6%20204.6%20404.2%20205.2%20405.8z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
        content: ' ';
      }
    }
    > div:nth-child(7) {
      &::before {
        --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-businessmail%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M507%20196.1c0-0.7-0.1-1.4-0.1-2.1%200-0.3-0.1-0.6-0.1-0.9%20-0.1-0.9-0.3-1.8-0.5-2.6%200-0.1%200-0.2%200-0.2%20-0.2-1-0.6-1.9-0.9-2.9%20-0.1-0.2-0.2-0.4-0.2-0.5%20-0.3-0.7-0.6-1.5-1-2.2%20-0.1-0.3-0.3-0.5-0.4-0.8%20-0.3-0.6-0.7-1.2-1.1-1.8%20-0.2-0.3-0.4-0.6-0.6-0.8%20-0.4-0.6-0.8-1.1-1.3-1.6%20-0.2-0.2-0.4-0.5-0.6-0.7%20-0.1-0.1-0.1-0.1-0.2-0.2%20-1.3-1.4-2.8-2.7-4.4-3.8%20-0.1%200-0.1-0.1-0.2-0.1l-224.3-152c-9-6.1-20.7-6.1-29.6%200l-224.8%20152C9.4%20179.7%205%20187.9%205%20196.7v270.6c0%2014.6%2011.8%2026.4%2026.4%2026.4h449.1c14.6%200%2026.4-11.8%2026.4-26.4V196.7C507%20196.5%20507%20196.3%20507%20196.1zM57.9%20261.1l79.6%2073.9%20-79.6%2071.3V261.1zM256.1%20299.8l157.7%20141H98.5L256.1%20299.8zM372.6%20333.1l81.5-75.7v148.6L372.6%20333.1zM256.2%2076.6l182%20123.3L333%20297.7l-59.3-53c-10-9-25.2-9-35.3%200l-61.4%2054.9%20-105.6-98L256.2%2076.6z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
        content: ' ';
      }
    }
    > div:nth-child(8) {
      &::before {
        --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-check%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M492.9%2079.6c20.5%2018%2022.6%2049.2%204.7%2069.7L254.1%20427.8c-9.2%2010.5-22.4%2016.7-36.4%2016.9%20-14%200.2-27.4-5.5-36.9-15.7L15.5%20251.5c-18.6-20-17.5-51.2%202.5-69.8%2020-18.6%2051.2-17.5%2069.8%202.5l128%20137.4L423.2%2084.2C441.1%2063.7%20472.3%2061.6%20492.9%2079.6z%22%2F%3E%3C%2Fsvg%3E%0A) !important;
        content: ' ';
      }
    }

    > div::before {
      content: ' ';
      --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-sitevitrine%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M478.6%20337.8h-7V109.1h7c14.5%200%2026.2-11.7%2026.2-26.2%200-14.5-11.7-26.2-26.2-26.2h-33.2H282.2V32.2C282.2%2017.7%20270.5%206%20256%206c-14.5%200-26.2%2011.7-26.2%2026.2v24.5H66.1%2033.4c-14.5%200-26.2%2011.7-26.2%2026.2%200%2014.5%2011.7%2026.2%2026.2%2026.2H40v228.7h-6.5c-14.5%200-26.2%2011.7-26.2%2026.2%200%2014.5%2011.7%2026.2%2026.2%2026.2h32.7%20117.7l-48.3%2075.6c-7.8%2012.2-4.2%2028.4%208%2036.2%204.4%202.8%209.2%204.1%2014.1%204.1%208.6%200%2017.1-4.3%2022.1-12.1l66.3-103.8h20.1l66.3%20103.8c5%207.8%2013.5%2012.1%2022.1%2012.1%204.8%200%209.7-1.3%2014.1-4.1%2012.2-7.8%2015.8-24%208-36.2l-48.3-75.6h117.2%2033.2c14.5%200%2026.2-11.7%2026.2-26.2C504.8%20349.5%20493.1%20337.8%20478.6%20337.8zM92.3%20109.1h326.9v228.7H92.3V109.1z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
      display: inline-flex;
      font-size: 1em;
      width: 2em;
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
      justify-content: center;
      align-items: baseline;
      background-color: #1565c0;
      -webkit-mask-image: var(--ico-svg);
      mask-image: var(--ico-svg);
      -webkit-mask-size: 60%;
      mask-size: 60%;
      mask-repeat: no-repeat;
      mask-position: center;
      line-height: 1.8;
      height: 2em;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      z-index: 2;
    }
  }

  .focus {
    --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20role%3D%22img%22%20aria-label%3D%22Logo%20simplifi%C3%A9%20Linkeo%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22512px%22%20height%3D%22512px%22%20viewBox%3D%220%200%20512%20512%22%20enable-background%3D%22new%200%200%20512%20512%22%20class%3D%22icon-eo%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20class%3D%22color2%22%20d%3D%22M350.689%20313.505c66.993%2033.957%20130.384-15.806%20150.239-79.137%2020.972-66.937-4.273-158.225-71.853-186.178%20-57.247-23.709-112.512%2018.263-131.416%2070.371%20-1.006%202.178-1.843%204.58-2.458%207.261C280.709%20188.794%20284.646%20280.051%20350.689%20313.505zM411.399%20112.251c11.784%203.91%2016.336%2018.319%2020.051%2028.4%209.075%2024.63%2011.421%2050.489%205.39%2076.041%20-7.038%2029.88-33.622%2051.91-62.581%2033.818%20-11.562-7.233-14.382-27.423-17.229-39.319%20-5.39-22.396-2.849-45.546%202.261-67.719C366.831%20117.556%20384.759%20103.427%20411.399%20112.251z%22%3E%3C%2Fpath%3E%3Cpath%20class%3D%22color2%22%20d%3D%22M210.229%20301.05c36.387-22.451%203.044-79.946-33.566-57.382%20-29.601%2018.263-82.994%2024.961-98.269-15.387%20-0.922-2.374-1.759-5.026-2.569-7.792%2040.38-4.886%2080.704-10.22%20120.889-16.42%2015.722-2.401%2022.591-18.514%2024.407-32.03%204.915-36.833-5.725-75.119-30.578-102.653%20-39.124-43.34-115.694-30.83-153.841%205.25C-10.576%20119.372-2.59%20219.763%2026.034%20272.26%2061.164%20336.739%20155.803%20334.616%20210.229%20301.05zM91.938%20114.736c33.985-23.206%2054.901%200.615%2061.268%2028.958%20-27.311%203.966-54.678%207.624-82.101%2010.947C73.758%20137.747%2080.097%20122.834%2091.938%20114.736z%22%3E%3C%2Fpath%3E%3Cpath%20class%3D%22color2%22%20d%3D%22M467.502%20385.747c-122.677%2025.859-265.427%2024.491-388.829%202.709%20-41.888-7.428-59.816%2056.633-17.677%2064.061%20135.94%2024.016%20288.912%2025.832%20424.181-2.681C527.094%20440.985%20509.305%20376.923%20467.502%20385.747z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    grid-column-gap: 0.75em;
    align-content: start;
    grid-template-columns: auto 1fr;
    --border-color: var(--fg-separator);
    border: 1px solid var(--border-color);
    --bg-color: var(--bg-block);
    background-color: var(--bg-color);
    border-radius: 1.5em;
    display: grid;
    position: relative;
    align-items: center;

    margin: 10px 10px;
    flex-grow: 1;
    min-width: 275px; // 17em
    box-sizing: border-box;
    padding: max(0.5em, min(1vw, 1em)) max(1em, min(2vw, 2em));
    background: #fff;

    font-weight: bold;
  }
}

/**
 * CSS FONT Auto scaling min() and max()
 */
$mobile: 600px; // Screen min
$desktop: 1200px; // Screen max
$font-min: 20px;
$font-max: 40px;
$screen-diff: ($desktop / 1px - $mobile / 1px);
$font-diff: ($font-max / 1px - $font-min / 1px);
// .pHeading {
//   // Mobile
//   @media (max-width: 767px) {
//     font-size: $font-min;
//   }

//   // Everything in between mobile (600px) to desktop (1200px)
//   @media (min-width: 768px) and (max-width: 1240px) {
//     font-size: calc(
//       #{$font-min} + (100vw - #{$mobile}) / #{$screen-diff} * #{$font-diff}
//     );
//   }
//   // Desktop
//   @media (min-width: 1241px) {
//     font-size: $font-max;
//   }
// }

.firstP {
  font-size: 22px;
  line-height: 34px;
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

// Showcase
.showcaseWrapper {
  grid-column-gap: 0.75em;
  display: grid;
  align-content: start;
  grid-template-columns: auto 1fr;
  position: relative;
  // Works with display: grid
  align-items: center;

  h2 {
    grid-column: 2;
    grid-row: 1;

    font-size: 26px;
    line-height: 1.1;
    color: var(--color-text-secondary);
    font-weight: bold;
    text-align: left;
    margin: 15px 0px 15px 10px;
  }

  p:not(:first-child) {
    grid-column: 1/3;
    margin-bottom: 20px;
    margin-block-start: 20px;
    font-weight: 400;
    font-size: 18px;
  }

  p:not(:first-of-type) {
    margin-block-start: 0;
  }

  &.ecommerce::before {
    --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-ecommerce%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M493.6%20199c-5.1-6.4-12.8-10.1-20.9-10.1H393L325.5%2045.3c-6.3-13.3-22.2-19.1-35.5-12.8C276.7%2038.8%20271%2054.7%20277.3%2068L334%20188.9H178.4L235.2%2068c6.3-13.3%200.5-29.2-12.8-35.5%20-13.3-6.3-29.2-0.5-35.5%2012.8l-67.4%20143.6H39.3c-8.2%200-15.9%203.7-20.9%2010.1%20-5.1%206.4-6.9%2014.7-5%2022.7L70%20461.5c2.8%2012%2013.6%2020.5%2026%2020.5H416c12.4%200%2023.1-8.5%2026-20.5l56.7-239.8C500.5%20213.8%20498.7%20205.4%20493.6%20199zM136.3%20242.2c0%200%200.1%200%200.1%200%200%200%200.1%200%200.1%200H376c0%200%200.1%200%200.1%200%200%200%200.1%200%200.1%200H439l-10%2042.2H83l-10-42.2H136.3zM394.9%20428.7H117.1l-21.5-90.9h320.8L394.9%20428.7z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
  }

  &::before {
    content: ' ';
    --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-sitevitrine%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M478.6%20337.8h-7V109.1h7c14.5%200%2026.2-11.7%2026.2-26.2%200-14.5-11.7-26.2-26.2-26.2h-33.2H282.2V32.2C282.2%2017.7%20270.5%206%20256%206c-14.5%200-26.2%2011.7-26.2%2026.2v24.5H66.1%2033.4c-14.5%200-26.2%2011.7-26.2%2026.2%200%2014.5%2011.7%2026.2%2026.2%2026.2H40v228.7h-6.5c-14.5%200-26.2%2011.7-26.2%2026.2%200%2014.5%2011.7%2026.2%2026.2%2026.2h32.7%20117.7l-48.3%2075.6c-7.8%2012.2-4.2%2028.4%208%2036.2%204.4%202.8%209.2%204.1%2014.1%204.1%208.6%200%2017.1-4.3%2022.1-12.1l66.3-103.8h20.1l66.3%20103.8c5%207.8%2013.5%2012.1%2022.1%2012.1%204.8%200%209.7-1.3%2014.1-4.1%2012.2-7.8%2015.8-24%208-36.2l-48.3-75.6h117.2%2033.2c14.5%200%2026.2-11.7%2026.2-26.2C504.8%20349.5%20493.1%20337.8%20478.6%20337.8zM92.3%20109.1h326.9v228.7H92.3V109.1z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
    display: inline-flex;
    grid-row: 1;
    grid-column: 1;

    margin-top: 0;
    font-size: 1.5em;
    line-height: 1.8;
    width: 2em;
    height: 2em;
    justify-self: center;
    justify-content: center;
    align-items: baseline;
    background-color: var(--color-text-secondary);
    -webkit-mask-image: var(--ico-svg);
    mask-image: var(--ico-svg);
    -webkit-mask-size: 40%;
    mask-size: 40%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    z-index: 2;

    content: ' ';
    display: inline-flex;
    grid-row: 1;
    grid-column: 1;
  }

  --shadow-color: rgba(15, 25, 36, 0.15);
  &::after {
    content: ' ';
    --ico-svg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20class%3D%22icon-sitevitrine%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cpath%20class%3D%22color1%22%20d%3D%22M478.6%20337.8h-7V109.1h7c14.5%200%2026.2-11.7%2026.2-26.2%200-14.5-11.7-26.2-26.2-26.2h-33.2H282.2V32.2C282.2%2017.7%20270.5%206%20256%206c-14.5%200-26.2%2011.7-26.2%2026.2v24.5H66.1%2033.4c-14.5%200-26.2%2011.7-26.2%2026.2%200%2014.5%2011.7%2026.2%2026.2%2026.2H40v228.7h-6.5c-14.5%200-26.2%2011.7-26.2%2026.2%200%2014.5%2011.7%2026.2%2026.2%2026.2h32.7%20117.7l-48.3%2075.6c-7.8%2012.2-4.2%2028.4%208%2036.2%204.4%202.8%209.2%204.1%2014.1%204.1%208.6%200%2017.1-4.3%2022.1-12.1l66.3-103.8h20.1l66.3%20103.8c5%207.8%2013.5%2012.1%2022.1%2012.1%204.8%200%209.7-1.3%2014.1-4.1%2012.2-7.8%2015.8-24%208-36.2l-48.3-75.6h117.2%2033.2c14.5%200%2026.2-11.7%2026.2-26.2C504.8%20349.5%20493.1%20337.8%20478.6%20337.8zM92.3%20109.1h326.9v228.7H92.3V109.1z%22%2F%3E%3C%2Fsvg%3E%0D%0A) !important;
    display: inline-flex;
    grid-row: 1;
    grid-column: 1;
    margin-top: 0px;

    width: 3em;
    padding-bottom: 100%;
    justify-self: center;
    background-color: #fff;
    border-radius: 2.5em;
    z-index: 1;
    box-shadow: 0 2px 10px -2px var(--shadow-color, rgba(0, 0, 0, 0.1)),
      0 8px 30px -5px var(--shadow-color, rgba(0, 0, 0, 0.1));
  }
}

.figureWrapper {
  max-width: 30em;
  margin: auto;
  --accent-shadow: rgba(52, 104, 166, 0.5);
  --shadow-color: rgba(15, 25, 36, 0.15);
  --shadow-color: var(--accent-shadow);
  img {
    position: relative;
    z-index: 1;
    display: block;
    box-shadow: 0 20px 40px -3px var(--shadow-color, rgba(0, 0, 0, 0.1)),
      0 60px 70px -40px var(--shadow-color, rgba(0, 0, 0, 0.1));
    --shadow-color: var(--accent-shadow);
    opacity: 1;
    border-radius: min(max(3em, 5vw), 6em);
  }
}
