/**
 * Mega menu like stripe
 * @Author stefano gagliardi
 */

.dropdownRoot {
  // .globalNav
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 50px;
  pointer-events: none;
  -webkit-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
  -webkit-transform-origin: 50% -50px;
  transform-origin: 50% -50px;
  opacity: 0;
  will-change: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  display: none;
}

.dropdownBackground {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 520px;
  height: 400px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.alternateBackground,
.dropdownBackground {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.alternateBackground {
  right: 0;
  height: 1000px;
  background: #f6f9fc;
}

.dropdownArrow {
  top: -6px;
  margin: 0 0 0 -6px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 4px 0 0 0;
  background: #fff;
  box-shadow: -3px -3px 5px rgba(82, 95, 127, 0.04);
  will-change: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.dropdownArrow,
.dropdownContainer {
  position: absolute;
  left: 0;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.dropdownContainer {
  overflow: hidden;
  top: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  will-change: transform, width, height;
  -webkit-transition-property: width, height, -webkit-transform;
  transition-property: width, height, -webkit-transform;
  transition-property: transform, width, height;
  transition-property: transform, width, height, -webkit-transform;
}

.dropdownSection {
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  background: red;
}

.dropdownSection.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.dropdownSection.left {
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
}

.dropdownSection.right {
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
}

.dropdownActive .dropdownSection.active {
  pointer-events: auto;
}

// Added by js
.noDropdownTransition .alternateBackground,
.noDropdownTransition .dropdownArrow,
.noDropdownTransition .dropdownBackground,
.noDropdownTransition .dropdownContainer,
.noDropdownTransition .dropdownSection {
  -webkit-transition: none;
  transition: none;
}

.dropdownContent {
  position: absolute;
  top: 0;
  left: 0;
}

// Bottom card link

.productsGroup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 640px;
  max-width: calc(100vw - 85px);
  margin: -5px -10px;
}

.productsGroup > li {
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.productsGroup .linkContainer,
.productsGroup > li {
  -webkit-box-flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.productsGroup .linkContainer {
  padding: 18px 10px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.productsGroup svg {
  width: 48px;
  height: 48px;
}

.prodsubGroup {
  text-align: center;
}

.prodsubGroup .linkContainer {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.prodsubGroup .linkSub {
  margin: 0 0 0 10px;
}

.linkGroup {
  padding: 20px 35px;
}

.linkContainer {
  display: block;
  padding: 9px 0;
}

.linkTitle {
  margin: 0;
  color: #6772e5;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
}

.linkSub {
  font-size: 15px;
  line-height: 22px;
  color: #6b7c93;
  margin: 5px 0 0;
  display: block;
}

.linkSub,
.linkTitle {
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

.hover-fillLight {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
}

.linkContainer:hover .linkTitle,
.linkTitle:hover {
  color: #32325d;
}

.linkContainer:hover .linkSub {
  color: #424770;
}

.linkContainer:hover .hover-fillLight {
  fill: #8898aa;
}

.linkContainer:hover .hover-fillDark {
  fill: #32325d;
}

.linkContainer:hover .hover-strokeLight {
  stroke: #8898aa;
}

.linkContainer:hover .hover-strokeDark {
  stroke: #32325d;
}

.productLinkContent {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 71px;
}