.firstSection {
  /* background-image: url("../../public/programmatore-senior-milano.jpg"); */
  min-height: 700px;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.firstSection img {
  margin: auto;
}

.h1 {
  /* color: #fff; */
  font-size: 50px;
  font-weight: bold;
}

.subTitle {
  margin-top: 20px;
  font-size: 22px;
}

.scrollIcon {
  position: absolute;
  top: 20px;
  left: 0;
}

.secondSection {
  min-height: 500px;
  position: relative;
}

.secondSectionBefore {
  height: 600px;
}

.secondSectionAfter {
  min-height: 600px;
}
