.dropdownWrapper {
  // width: 100%;
  padding: 30px;
  min-height: 400px;
  min-width: 25rem;
  // border: 1px solid red;

  color: #222;
  font-weight: bold;

  &[data-second-dropdown-section] {
    min-width: 36rem;
    min-height: 260px;
    .dropdownContentWrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  &[data-third-dropdown-section] {
    min-width: 36rem;
    min-height: 340px;
    .dropdownContentWrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  .dropdownContentWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

.serviceIcon {
  width: 20px;
  height: 20px;
}

.servicesList {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  li {
    margin-bottom: 30px;
    > a {
      display: flex;
      > div {
        margin-left: 10px;
        > span {
          svg {
            width: 20px;
            height: 20px;
            display: inline;
            opacity: 0;
            transition: 0.3s linear opacity;
          }
        }
      }

      &:hover {
        > div > span {
          svg {
            opacity: 1;
            transition: 0.3s linear opacity;
          }
        }
      }

      svg {
        width: 35px;
        min-width: 35px;
        height: 35px;
      }
    }

    &:hover {
      .serviceTitle {
        color: var(--color-text-accent);
        svg {
          fill: var(--color-text-accent);
          color: var(--color-text-accent);
        }
      }
      .serviceSubtitle {
        color: var(--color-text-accent);
      }
      .serviceIcon {
        fill: var(--color-text-accent);
        color: var(--color-text-accent);
      }
    }
  }

  &.blogList {
    li {
      margin-bottom: 10px;
      > a {
        @apply text-sm;
      }
    }
  }
}

.serviceTitle {
  font-size: 14px;
  color: #222;
  display: block;

  svg {
    width: 20px;
    height: 20px;
    display: inline;
  }
}

.serviceSubtitle {
  font-size: 14px;
  display: block;
}

.contentTitle {
  display: block;
  text-align: left;
  font-weight: 600;
  color: #222;
  letter-spacing: 0.4px;
  margin-bottom: 30px;
}

:global(.dark) .dropdownWrapper {
  background-color: #1c2127;
  color: #fff !important;

  // -webkit-box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 20%),
  //   0 4px 8px rgb(17 20 24 / 40%), 0 18px 46px 6px rgb(17 20 24 / 40%);
  // box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 20%),
  //   0 4px 8px rgb(17 20 24 / 40%), 0 18px 46px 6px rgb(17 20 24 / 40%);
  border: 0px !important;
  box-shadow: none !important;
  outline: 0px !important;
}

:global(.dark) .contentTitle {
  color: #fff;
}

:global(.dark) .serviceTitle {
  color: #fff;
}

:global(.dark) .servicesList li > a svg {
  fill: #fff;
}

:global(.dark) .servicesList li:hover {
  .serviceTitle {
    color: var(--color-text-accent);
    svg {
      fill: var(--color-text-accent);
      color: var(--color-text-accent);
    }
  }
  .serviceSubtitle {
    color: var(--color-text-accent);
  }
  .serviceIcon {
    fill: var(--color-text-accent);
    color: var(--color-text-accent);
  }
}

:global(.dark) .blogList li:hover a {
  color: var(--color-text-accent);
}
