@import "./base.css"; /* Sovrascrive le classi di tailwind (base) */
@import "./chrome-bug.css";
@import "./avenir.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

h6 {
  font-size: 16px;
  line-height: 1.1;
  font-weight: bold;
  color: #1d1e1e;
}

body,
html {
  overflow-x: hidden;
}

@import "./scrollbar.css";
@import "./global.css";
