@import "./base.css"; /* Sovrascrive le classi di tailwind (base) */
@import "./chrome-bug.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

h6 {
  font-size: 16px;
  line-height: 1.1;
  font-weight: bold;
  color: #1d1e1e;
}

body,
html {
  overflow-x: hidden;
}

/* Hide mailgo m-by */
#mailgo-tel .m-by {
  display: none !important;
}

@import "./scrollbar.css";
@import "./global.css";

/* Specific global style for this theme */
@import "./theme/custom-theme.css";
