@tailwind components;

@layer components {
  // General wrapper class
  .svg_infographics {
    position: relative;
    // height: 800px;
    // margin-top: 50px;

    // Ecommerce service - Development process
    // NB: NextJs SVG Plugin to use SVG as components. Trasnform attribute ID. Id on "path" tag became dat-name="id".
    //     But "svg" tag width attribute ID will be removed. So use another attribute like "data-id"
    // svg[data-id='devStepProcess'],
    #devStepProcess {
      z-index: 3;
      // right: 0;
      // position: absolute;
      // top: 0;

      width: 100%;
      max-width: 100%;
      height: auto;

      #CIRCLE_V2,
      #CIRCLE_V2-2,
      #CIRCLE_V2-3,
      #CIRCLE_V2-4,
      #CIRCLE_V2-5,
      #CIRCLE_V2-6 {
        cursor: pointer;
        // transition: 1s linear all;
        opacity: 1;

        &:hover,
        &.active-circle-path {
          opacity: 1;
        }
      }
    }
  }

  // Glass effect
  .glass {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }

  .glass::before {
    content: '';
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;

    -webkit-filter: url('#blur');
    filter: url('#blur');
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-size: cover;
    opacity: 0.5;
  }
}
