@tailwind components;

@layer components {
  // General wrapper class
  .svg_infographics {
    position: relative;
    // height: 800px;
    // margin-top: 50px;

    // Ecommerce service - Development process
    // NB: NextJs SVG Plugin to use SVG as components. Trasnform attribute ID. Id on "path" tag became dat-name="id".
    //     But "svg" tag width attribute ID will be removed. So use another attribute like "data-id"
    // svg[data-id='devStepProcess'],
    #devStepProcess {
      z-index: 3;
      // right: 0;
      // position: absolute;
      // top: 0;

      width: 100%;
      max-width: 100%;
      height: auto;

      #CIRCLE_V2,
      #CIRCLE_V2-2,
      #CIRCLE_V2-3,
      #CIRCLE_V2-4,
      #CIRCLE_V2-5,
      #CIRCLE_V2-6 {
        cursor: pointer;
        transition: 1s linear all;
        opacity: 1;

        &:hover,
        &.active-circle-path {
          opacity: 1;
        }
      }
    }
  }
}
